# Terraform state
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Local Terraform dirs
.terraform/
.terraform.lock.hcl

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editor / IDE
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
tmp/
/.claude
CLAUDE.md


